.ErrorModal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    width: 400px;
    max-width: 100vw;
    height: 300px;

    // border: 2px solid gold;
    padding: 1rem 2rem;
    border-radius: 15px;

    background-color: hsl(60, 7%, 6%);
    color: gold;

    img {
        display: block;
        height: 70px;

        color: white;
    }

    p {
        text-align: center;
    }

    .btn {
        width: 200px;
        background-color: black;
        &:hover {
            background-color: gold;
        }
    }
}
