.JitaPrice {
    height: 100%;
    flex: 1 1 auto;
    // background-color: hsla(0, 0%, 0%, 0.4);

    input {
        display: block;
    }

    .container {
        max-width: 1500px;
        height: 100%;
        margin: 0 auto;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        label {
            color: blanchedalmond;
            text-shadow: 2px 2px black;
            width: 100%;
        }

        input {
            margin-top: 20px;
            padding: 0.5rem 1rem;
            // border: 1px solid black;
            border-radius: 5px;
            width: 100%;
            max-width: 1000px;
        }

        button {
            margin-top: 2rem;
            padding: 0.5rem 2rem;

            &:hover {
                cursor: pointer;
            }
        }

        form {
            position: relative;
            // z-index: 0;
            overflow: visible;
            width: 100%;

            .result {
                color: white;
                position: absolute;
                padding-top: 1rem;
                width: 100%;

                table {
                    width: 100%;
                    border-top: 3px solid hsl(50.9, 98.3%, 55.1%);

                    caption {
                        text-align: left;
                        font-size: 1.3rem;
                        padding-bottom: 3px;
                    }

                    tr {
                        text-align: left;

                        &.buy {
                            color: green;
                        }

                        &.sell {
                            color: red;
                        }
                    }

                    td {
                        width: 90%;
                        text-align: end;
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px), screen and (max-height: 470px) {
    .JitaPrice {
        .container {
            justify-content: flex-start;

            form {
                position: static;
            }

            .result {
                position: static !important;
            }
        }
    }
}
