.CopyButton {
    opacity: 0;
    font-size: 0.7rem;
    margin-left: 1rem;
    display: inline-block;
    color: gold;
    background-color: black;
    padding: 1px 1rem;
    border-radius: 8px;
    border: 2px solid gold;
    transition: all 0.3s;
    transform: translateX(100%);

    &:hover {
        color: black;
        background-color: gold;
    }
}
