.ResultList {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
    max-width: 711px;

    .card {
        background: hsla(0, 0, 0, 0.4);
        padding: 0.5rem 0.8rem;
        border-radius: 15px;
    }

    .card_appear {
        animation: flip 2s linear;
    }

    .card-enter {
        opacity: 0;
        transform: rotateX(90deg);
    }

    .card-enter-done {
        opacity: 1;
        transform: rotateX(0deg);
        transition: opacity 1000ms linear, transform 1000ms linear;
    }

    .highsec {
        color: green;
    }

    .lowsec {
        color: rgb(255, 110, 58);
    }

    .nulsec {
        color: rgb(204, 0, 0);
    }
}
