.ResultList {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    row-gap: 10px;
    margin-top: 10px;
    max-width: 711px;
    // perspective: 20px;

    .card {
        background: rgba(0, 0, 0, 0.4);
        padding: 0.5rem 0.8rem;
        border-radius: 15px;
        transform-style: preserve-3d;
        perspective: 50px;

        .no-result {
            height: 10rem;
            display: grid;
            place-items: center;
            font-size: 1.2rem;
            color: gold;
        }

        .card__data {
            color: hsl(51, 100%, 50%);
        }

        &:hover {
            .CopyButton {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .card_appear {
        animation: flip 2s linear;
    }

    .card-enter {
        opacity: 0;
        transform: rotateX(90deg);
    }

    .card-enter-done {
        opacity: 1;
        transform: rotateX(0deg);
        transition: opacity 1000ms linear, transform 1000ms linear;
    }

    .highsec {
        color: hsl(145, 100%, 50%);
    }

    .lowsec {
        color: hsl(16, 100%, 61%);
    }

    .nulsec {
        color: hsl(0, 100%, 50%);
    }
}

@media screen and (max-width: 330px) {
    .ResultList {
        font-size: 0.8rem;
    }
}
