@font-face {
    font-family: zebulon;
    src: url(./fonts/Zebulon.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: zebulon;
    box-sizing: border-box;
    /* overflow: hidden; */
    list-style: none;
}

body {
    /* min-height: 100vh; */
    height: 100%;
    color: blanchedalmond;
}

#root {
    /* min-height: 100vh;
    height: 1px; */
}

.appWrapper {
    background: url("./images/background.jpg") fixed no-repeat center
        center/cover;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.animate-appear {
    animation: appear 0.6s ease-in-out;
}

@keyframes appear {
    from {
        /* transform: scale(0.999); */
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.form-margin {
    margin-bottom: 5px;
}
